.blogin_navbar{
    background-color: rgb(255, 255, 255);
    box-shadow: rgb(0 0 0) 0px -2px 4px;
    height: 68px;
    width: 100%;
    display: flex;
    align-items: center;
}
.bn_logo_div{
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.bl_logo_image{
    width: 36px;
    height: 40px;
}
.bl_logo_title{
    margin-left: .5rem;
    font-size: 30px;
    font-weight: 700;
}
.bl_search_cont{
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;

}
.bl_search_icon_cont{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: #EA4235;
    color:#fff;
    display: flex;
    align-items: center;
    justify-content: center;
}
.search_inner_div{
    display: flex;
    align-items: center;
    font-size: 11px;
    background-color: #F4F6F9;
    border-radius: 30px;
}
.bl_search_input{
    border: none;
    outline: none;
    background-color: transparent;
    margin-left: .2rem;
    font-size: 14px;
}
.bl_seach_form{
    width: 60%;
}
.bl_about_div{
    width: 32%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
   
}
.bl_about_btn{
    font-weight: 500;
    font-size: 14px;
    line-height: 22px;
    font-weight: 500;
    color: rgb(39, 39, 47) !important;
    background-color: transparent;
    border:none;
    outline: none;
}
.bl_login_btn{
    align-self: flex-start;
    background-color: rgb(255, 255, 255);
    border-color: #EA4235;
    border-radius: 4px;
    border-width: 1px;
    height: 36px;
    padding-left: 16px;
    padding-right: 16px;
    font-size: 14px;
    line-height: 22px;
    font-weight: 500;
    color: #EA4235;
    border-radius: 30px;
}
.bl_login_btn:hover{
    background-color: #EA4235;
    color:#fff;
    transition: .3s;
    border:#fff;
}
.bl_register_cont{
    width: 100%;
    height: 550px;
    background-image: url('../../images//products.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 1px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    opacity: .7;
   
}
.bl_register_cont:hover{
    opacity: 1;
}
.bl_reg_left{
    display: flex;
    width: 50%;
    align-items: flex-start;
    flex-direction: column;
    padding-left: 3rem;
}
.bl_reg_head{
    max-width: 900px;
    margin-bottom: 24px;
    margin-top: 7rem;
    color: white;
    text-align: start;
    font-weight: 600;
    letter-spacing: -0.36px;
    font-size: 47px;

    
}

.chevron_cont{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 3rem;
}
.bl_reg_btn{
    color: #EA4235;
    border-radius: 30px;
    cursor: pointer;
   border: 1px solid #EA4235;
    padding: 15px 55px;
    margin-bottom: 33px;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    font-size: 14px;
    line-height: 20px;
    font-weight: 500;
    background-color: #D9DEE9;
    letter-spacing: 0.0168px;
}
.bl_reg_btn:hover{
    background-color: #EA4235;
    color: #fff;
    transition: .4s;
}
.bl_reg_icon{
   display: flex;
   justify-content: center;
   width: 40px;
}
.loop_video{
    width: 400px;
    height: 400px;
}
.bl_categories_main{
    padding: 0rem 3rem;
}
.bl_categories_inner{
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: #fff;
    align-items: center;
    flex-direction: column;
    margin-bottom: 74px;
}
.bl_cate_title{
    display: flex;
    white-space: break-spaces;
    margin: 16px 0px 0px;
    padding: 0px;
    color: rgb(129, 129, 129);
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
}
.bl_cate_desc{
    display: flex;
    margin-top: 24px;
}
.bl_desc_p{
    display: flex;
    white-space: break-spaces;
    margin: 0px;
    padding: 0px;
    font-size: 45px;
    font-weight: 700;
    justify-content: center;
}
.bl_desc_p_center{
    display: flex;
    white-space: break-spaces;
    margin: 0px;
    padding: 0px;
    font-size: 45px;
    font-weight: 700;
    color: #EA4235;
    margin-left: 3px;
    margin-right: 3px;
}
.bl_cate_cont{
    display: flex;
    width: 100%;
}
.bl_cate_col{
    width: 30%;
    display: flex;
    flex-direction: column;
    padding: 1rem;

}
.bl_cat_item{
    display: flex;
    align-items: center;
   margin: 12px 20px;
  border-radius: 12px;
  width: 90%;
}
.bl_cat_image_cont{
    display: flex;;
    justify-content: center;
    align-items: center;
}
.bl_cat_image{
    background-color: rgba(158, 190, 255, 0.1);
    border-radius: 12px;
    height: 80px;
    width: 80px;
}
.bl_cat_right_cont{
    display: flex;
    width: 65%;
    align-items: flex-start;
}
.bl_cat_right_inner{
    display: flex;
    width: 80%;
    flex-direction: column;
    margin-left: 1rem;
}
.bl_cat_item_title{
    font-weight: 700;
    color: rgb(85, 85, 98);
    font-size: 18px;
    text-overflow: ellipsis;
    min-height: 24px;
    overflow: hidden;
    white-space: pre;
    margin: 0px;
}
.bl_cat_item_desc{
    color: rgb(129, 129, 129);
    font-weight: 400;
    font-size: 13px;
    text-overflow: ellipsis;
    min-height: 24px;
    overflow: hidden;
    white-space: pre;
    margin: 0px;
}

.bl_cat_item_arrow{
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.bl_cat_item_arrow_cont{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: #DDDEE7;
    display: none;
    align-items: center;
    justify-content: center;
}
.bl_cat_item:hover .bl_cat_item_arrow_cont{
    display: flex;
}
.bl_cat_item:hover{
    background-color: #F5F8FF;
}
.bl_steps_cont{
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 5rem;
    flex-direction: column;
}
.bl_steps_main{
    width: 100%;
    display: flex;
}
.bl_steps_col{
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.bl_steps_image_cont{
    display: flex;
    align-items: center;
    justify-content: center;

}
.bl_steps_image{
    height: 225px;
    width: 225px;
}
.bl_steps_image_title{
    display: flex;
    white-space: break-spaces;
    margin: 0px;
    padding: 0px;
    color: rgb(39, 39, 47);
    font-size: 28px;
    font-weight: 700;
    text-align: center;
}
.bl_steps_image_desc{
    display: flex;
    white-space: break-spaces;
    margin: 20px 0px 0px;
    padding: 0px;
    color: rgb(129, 129, 129);
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    max-width: 250px;
    text-align: center;
}
.bl_dashed_border{
    border-color: rgb(129, 129, 129);
    border-style: dashed;
    border-width: 2px;
    height: 1px;
    width: 230px;
    margin-top: 120px;
}
.bl_reg_chev_down{
    width: 100%;
    font-size: 30px;
    color:#EA4235
}
.bl_reg_btn_row{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 6rem;
}
.welcome_cont{
    display: flex;
    width: 100%;
    background-color: #FCF4F5;
    padding-top:3rem;
}
.welcome_left{
    display: flex;
    flex-direction: column;
    width: 34%;
    margin-left: 4rem;
}
.welcome_image{
    width: 400px;
    height: 400px;
}
.welcome_right{
    width: 66%;
    display: flex;
    padding-top: 40px;
    padding-left: 84px;
}
.welcome_right_right{
    width: 50%;
    display: flex;
    flex-direction: column;
}
.welcome_features_div{
    display: flex;
    flex-direction: column;
    width: 100%;
    border-radius: 12px;
    margin-bottom: 7rem;
    padding: 1rem;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.welcome_features_div_inner{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    width: 98%;
}
.welcome_desc{
    color: rgb(85, 85, 98);
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 15px;
    margin: 0px
}
.welcome_desc_center{
    color: #EA4235;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 15px;
    margin: 0px 4px
}
.welcome_desc_sub{
    color: rgb(129, 129, 129);
    font-size: 12px;
    font-weight: 500;
}
.welcome_features_div_left{
    margin-top: 7rem;
    box-shadow: rgb(0 0 0 / 24%) 0px 3px 8px;
    padding: 1rem;
    border-radius: 12px;
}
.welcome_right_left{
    width: 50%;
    display: flex;
    flex-direction: column;
   margin-left: 4rem;

}
.join_cont{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(115deg, rgb(191, 61, 69) 33.33%, rgb(215, 60, 70), 33.33%, rgb(215, 60, 70), 66.66%, rgb(212, 75, 84) 66.66%);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.join_title{
    color: rgb(255, 255, 255);
    font-size: 53px;
    text-align: center;
    margin-top: 3rem;
}

.join_stats_row{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    color: rgb(255, 255, 255);
    font-size: 54px;
   padding: 0rem 3rem;
    font-weight: 700;
    margin-top: 5rem;
}
.join_single_stat{
    display: flex;
    flex-direction: column;
}
.stat_center{
    margin: 0px 0px 10px;
    color: white;
    font-size: 80px;
    font-weight: 700;
    text-align: center;
}
.stat_sub{
    margin: 0px;
    font-size: 18px;
    color: white;
    font-weight: 700;
    text-align: center;
}
.bl_reg_btn_stats{
    color: #EA4235;
    cursor: pointer;
    border-radius: 30px;
    border: none;
    padding: 15px 55px;
    margin-bottom: 33px;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    font-size: 14px;
    line-height: 20px;
    font-weight: 500;
    background-color: rgb(255, 255, 255);
    letter-spacing: 0.0168px;

}
.bl_reg_btn_stats:hover{
    background-color: #e98983;
    color:#fff;
    transition: .4s;
}

.powerful_cont{
    display: flex;
    width: 100%;
    padding: 4rem;
    
}
.powerful_left{
    width: 50%;

}
.feature_list_cont{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 3rem;

}
.feature_item{
    display: flex;
    flex-direction: column;
    width: 80%;
    padding: .5rem;
    margin-bottom: 2rem;
}
.feature_item:hover{
    background-color: #DDDEE7;
}
.feature_item:hover .feature_title{
    padding: 0px;
    margin: 0px;
    font-weight: 700;
    font-size: 26px;
    color: #EA4235;
}
.feature_item:hover .features_sub{
    display: block;
}
.feature_title{
    padding: 0px;
    margin: 0px;
    font-weight: 700;
    font-size: 20px;
    color: rgb(84, 84, 99);
}
.features_sub{
    margin-top: 4px;
    align-self: flex-start;
    text-align: left;
    font-weight: 500;
    font-size: 14px;
    max-width: 75%;
    color: rgb(129, 129, 129);
    display: none;
}
.download_title{
    margin: 0px;
    padding: 0px;
    font-weight: 500;
    font-size: 18px;
    color: rgb(39, 39, 47);
    margin-bottom: 1rem;
}
.powerful_download_cont{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

}
.download_image{
    width: 48px;
    height: 48px;
    cursor: pointer;
}
.powerful_right{
    
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
}
.top_brands_cont{
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    align-items: center;
    min-height: 560px;
    padding: 136px 70px 68px;
    box-sizing: content-box;
    background-image: url('../../images/triangle.png');
    background-repeat: repeat-x;
}
.top_brands_title{
    display: flex;
    white-space: break-spaces;
    margin: 24px 0px 0px;
    padding: 0px;
    color: rgb(39, 39, 47);
    font-size: 45px;
    font-weight: 700;
    max-width: 600px;
    text-align: center;
}
.scroll_brands_div{
    width: 100%;
    display: flex;
    padding-top: 3rem;
}
.scroll_brand{
    width: 100%;
    position: relative;
    animation: animatedBackground 30s linear infinite;
}
.scroll_image{
    background-color: rgb(232, 237, 240);
    border-radius: 16px;
    margin: 0px 20px;
    width: 112px;
    height: 112px;
}
.user_reviews_cont{
    display: flex;
    width: 100%;
    padding: 2rem;
}
.user_reviews_left{
    width: 50%;
    display: flex;
    flex-direction: column;
}
.user_review_text{
    display: flex;
    white-space: break-spaces;
    margin: 20px 0px 0px;
    padding: 0px;
    color: rgb(129, 129, 129);
    font-size: 16px;
    font-weight: 700;
    max-width: 50%;
    line-height: 24px;
}

.user_img_left{
    width: 600px;
    height: 400px;
    border-radius: 12px;
    margin-top: 1rem;
}

.user_reviews_right{
    width: 50%;
    display: flex;
}

.user_reviews_right_left{
    display: flex;
    width: 50%;
    flex-direction: column;
}
.user_img_right_left{
    width: 300px;
    height: 300px;
    margin-bottom: 1rem;

}
.user_reviews_right_right{
    display: flex;
    width: 50%;
    flex-direction: column;
}
.user_img_right_right{
    width: 300px;
    height: 615px;

  
}

.bottom_download_cont{
    display: flex;
    width: 100%;
    padding: 3rem;
    background-image: linear-gradient(115deg, rgb(191, 61, 69) 33.33%, rgb(215, 60, 70), 33.33%, rgb(215, 60, 70), 66.66%, rgb(212, 75, 84) 66.66%);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.bd_left{
    width: 50%;
    display: flex;
    flex-direction: column;
}
.bd_left_head{
    margin: 0px;
    color: white;
    font-size: 48px;
    font-weight: 700;
 
}
.bd_left_text{
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-weight: 700;
    margin-top: 28px;
    max-width: 75%;
    margin-bottom: .7rem;
}
.vl{
    border-left: 1px solid #e0e0e0;
    margin-right: 3rem;
}
.bd_right{
    width: 50%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.login_modal_main{
    display: flex;

    background-color: #fff;
    border-radius: 12px;
    flex-direction: column;
    justify-content: center;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.lm_cont{
    margin: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.lm_image_div{
    display: flex;
    justify-content: center;
}
.lm_image{
    max-width: 200px;
    max-height: 200px;
}
.lm_main_input_div{
    display: flex;
    margin: 2rem;
    flex-direction: column;
    align-items: flex-start;
}
.lm_phone_head{
    color: rgb(39, 39, 47);
    font-size: 21px;
    width: 100%;
    font-style: normal;
    font-weight: bold;
    line-height: 32px;
    text-align: center;
    display: flex;
    flex-direction: column;
}
.lm_subtitle{
    color: #a5a5a5;
    font-weight: normal;
    margin-top: .5rem;
    font-size: 12px;
}
.lm_input_div{
  margin-top: 2rem;
  width: 100%;
}
.lm_input_label{
    margin-bottom: 0.5rem;
    margin-left: 0.5rem;
    margin-top: 1rem;
    font-weight: 500;
    font-size: 14px;
}
.lm_input{
    width: 100% !important;
    border-radius: 30px !important;
}
.lm_mobile_submit_btn{
    padding: 0.5rem 2rem;
    border-radius: 30px;
    outline: none;
    border: none;
    background: #EA4235;
    font-weight: 500;
    color: #fff;
}
.login_modal_main .modal-content{
    min-height: 600px;
}
.lm_signup_fields {
    width: 90%;
    display: flex;
    border-radius: 30px;
}

.lm_signup_label{
    width: 100%;
    margin-left: 3.5rem;
    font-weight: 500;
    font-size: 14px;
    margin-top: 1rem;
}
.lm_input_div .flag-dropdown{
        border-top-left-radius: 17px;
        border-bottom-left-radius: 17px;   
}

.lm_signup_head{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.lm_reg_title{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    font-size: 22px;
}
.lm_info_type_text{
    width: 100%;
    display: flex;
    justify-content: center;
    font-size: 12px;
    font-weight: 500;
    color: #EA4235;
    margin-top: 0.5rem;
}

.lm_proceed_next_btn{
    padding: 0.2rem 1.7rem;
    border-radius: 30px;
    border: 1px solid #ea4235;
    font-weight: 500;
    color: #EA4235;

}
.lm_proceed_next_btn:hover{
    background-color: #EA4235;
    color:#ffff;
}

.lm_signup_kyc{
    width: 90%;
    display: flex;
    border-radius: 30px;
    justify-content: space-between;
    align-items: center;
}
.lm_kyc_image_div{
    display: flex;
    width: 100%;
    flex-direction: column;
    padding: 1.5rem;
    padding-top: 0;
}
.lm_kyc_label_text{
    font-size: 12px;
    margin-bottom: .5rem;
    margin-top: 1rem;
    width: 90%;
}
.lm_kyc_radios{
    width: 80%;
    display: flex;
    flex-direction: column;
}

.lm_user_type_change{
    color: #EA4235;
    cursor: pointer;
    font-size: 13px;
    font-weight: 500;
    margin-top: 0.5rem;
    margin-bottom: 2rem;
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

.about_topbar_cont{
    display: flex;
    width: 100%;
    align-items: center;
    height: 120px;
    background-color: #fff;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;

}

.about_topbar{
    display: flex;
    align-items: center;
    padding: 28px 140px;
    width: 100%;
    justify-content: space-between;
}
.about_topbar_image_div{
    width: 10%;
}
.aboout_tb_right{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 55%;
}
.about_btn{
    font-size: 16px;
    cursor: pointer;
    font-weight: 500;
    color: #ea4235;
}
.about_main_div{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.about_section{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    padding: 2rem;
    flex-direction: row;

}
.read_more_btn{
    color: #EA4235;
    padding: .3rem .7em;
    background-color: #fff;
    border-radius: 30px;
    border: 1px solid #ea4235;
    margin-top: 1rem;;
}
.read_more_btn:hover{
    background-color: #EA4235;
    color: #fff;
}
.founder_head{
    font-size: 30px;
    color:#EA4235;
    margin-bottom: 1rem;
}
.about_text_cont{
    width: 50%;
    font-size: 14px;
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
    text-align: justify;
    height: 400px;
    overflow: hidden;
}
 .about_more_modal{
    height: 700px;
    overflow-y: auto;
    text-align: justify;
    font-size: 13px;
 }
.founder_section{
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 2rem;
    flex-direction: column;
    background-color: #fff;

}
.about_founder_text{
    width: 33%;
    font-size: 14px;
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
    text-align: justify;
    align-items: center;
    padding: 0rem 2rem;
    margin-top: .5rem;
    padding-bottom: 2rem;
    background: #fff;
    box-shadow: rgb(0 0 0 / 24%) 0px 3px 8px;
    border-radius: 12px;
    padding-top: 1rem;
}
.about_image_div{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.founder_user_image{
    width: 150px;
    height: 150px;
}
.founder_title{
    font-size: 25px;
    margin: 1rem;
    display: flex;
    justify-content: center;
}
.founder_main{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.legal_section{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5rem 2rem;
    flex-direction: column;
    background-color: #fff;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.about_logo_img{
    width: 60px;
    height: 60px;
}
.about_btn_buy_cell{
    
    padding: 0.6rem 1rem;
    border: none;
    background: #ea4235;
    border-radius: 30px;
    color: #fff !important;
    font-weight: 500;

}

.download_cont{
    display: flex;
    flex-direction: column;
    padding: 4rem;
}
.download_sub{
    font-size: 15px;
    margin-bottom: 3rem;
}



@keyframes animatedBackground {
    0% { left: 100%; }
    100% { left: -100%; }
    
  }
  html {
    overflow:   scroll;
  }
  
  ::-webkit-scrollbar {
     display: none;
  }
  